@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 0px !important;
}

.datePicker {
  width: 100%;
}

.datePicker .react-datepicker__input-container input {
  border: 1px solid rgb(212 212 212 / 1) !important;
  border-radius: 0.5rem !important;
  background-color: rgb(250 250 250 / 1) !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  width: 100% !important;
}

.datePicker::placeholder {
  color: rgb(115 115 115 / 1) !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.datePickerMini .react-datepicker__input-container input {
  border: 1px solid rgb(212 212 212 / 1) !important;
  border-radius: 2.5rem !important;
  background-color: rgb(250 250 250 / 1) !important;
  padding-left: 2rem !important;
  padding-right: 0.75rem !important;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  width: 105px !important;
}

.datePickerMini .react-datepicker__input-container input::placeholder {
  font-size: 5px;
  color: rgb(115 115 115 / 1) !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.datePickerMini .react-datepicker__input-container input:focus {
  outline: none;
}

.datePickerFilter .react-datepicker__input-container input {
  border: 1px solid rgb(163 163 163 / 1) !important;
  border-radius: 2.5rem !important;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  padding-top: 0.48rem !important;
  padding-bottom: 0.48rem !important;
  width: 125px !important;
}

.datePickerFilter .react-datepicker__input-container input:focus {
  outline: none;
}

.datePickerFilter .react-datepicker__input-container input::placeholder {
  color: rgb(82, 82, 82)
}

.datePickerFilter::placeholder {
  color: rgb(115 115 115 / 1) !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}